<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<form th:action="@{/book/rentBook/rentBook2}"  method="post" >
    Id: <input type="text" name="id" th:value="${id}" placeholder="enter id of book"/>
    Rented owner: <input type="text" name="rented_owner" th:value="${rented_owner}" placeholder="enter rented owner of book"/>
    <p><input type="submit" value="Submit" /></p>
</form>

<!--<h2 th:object="${book}">${book.name}</h2>-->

</body>
</html>